build
dist
*.pyc
*.egg-info
*.egg
.idea
.idea.mac
.idea.win
virtualenv
virtualenv-win
.coverage
coverage.xml
test_project/db.sqlite3
/.vagrant/
/.vagrant.bak/
.sass-cache/
/htmlcov/
/.tox/
/.cache/
/docs/_build/
/docs/_static/
/docs/_templates/
coverage.xml
*.sublime-*
.venv
.pytest_cache
