build
dist
*.pyc
*.egg-info
*.egg
.idea
.idea.mac
.idea.win
virtualenv
virtualenv-win
.coverage
test_project/db.sqlite3
test_project/test_project/static/COMPILED
static_precompiler/tests/static/COMPILED