include AUTHORS
include README.md
include CHANGES.md
include LICENSE
include py.typed
recursive-include tests/static *
recursive-include tests/staticfiles_dir *
recursive-include tests/staticfiles_dir_with_prefix *
prune tests/static/.sass-cache
prune tests/staticfiles_dir/.sass-cache
